.main-contents
  .main-header
    .main-box
      .main-group
        %h5 test-group
        %h6 member
      .main-edit
        %p Edit
        =link_to "#" 
  .main-body
    .main-userbox
      .main-user
        test-user
      .main-time
        2019/11/21(thr) 00:00:00
    .main-message
      こんにちは
  .main-bottom
    .main-message
      = form_for [@group,@message] do |f|
        = f.text_field :content, class: 'main-message__textbox', placeholder: 'type a message'
      = f.label :image, class: 'main-message__icon'
        =icon('far','image')
        =f.file_field :image, class:'main-message__icon__file'
      = f.submit 'Send', class:'main-message__submit'