.main-contents
  .main-header
    .main-box
      .main-group
        %h5 test-group
        %h6 member
      .main-edit
        %p Edit
        =link_to "#" 
  .main-body
    .main-userbox
      .main-user
        test-user
      .main-time
        2019/11/21(thr) 00:00:00
    .main-message
      こんにちは
  .main-bottom
    .main-message
      %input.main-message__textbox(type="text" name= "message" placeholder="type a message" )
      %label.main-message__icon
        =icon('far','image')
        .main-message__icon__file
          %input(type="file") 
      %input.main-message__submit(type="submit" name="submit" value="Send")
        =link_to "#" 