.side-contents  
  .side-header
    .side-box
      %h3.side-box__name
        = current_user.name
      %ul.side-box__item
        %li
        = link_to new_group_path do
          = icon('fa','edit',class: "side-box__item--create")
        %li
        =link_to edit_user_path(current_user) do
          = icon('fa','cog',class: "side-box__item--edit")
  .side-body
    .side-body__groups
      %h1 test-user
      %h2 hello world.
    
